<div class="gallery">
  <!-- Карточки изображений -->
  <!-- <div class="photo-card">
    <img
      class="img-style"
      src="https://cdn.pixabay.com/photo/2021/10/03/04/21/woman-6676901_960_720.jpg"
      alt=""
      loading="lazy"
    />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
      </p>
      <p class="info-item">
        <b>Views</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
      </p>
    </div>
  </div> -->
</div>
<button type="button" class="load-more">Load more</button>
